[init]
	defaultBranch = main

[user]
	name = Lucas Patrick
	email = tech.patrick.lsilva@gmail.com

[core]
	editor = nvim

[alias]
	st = status -s
	conf = config --global --edit
	aa = add --all
	cm = commit -m
	ci = commit -a -m
	ck = checkout
	dc = checkout .	
	pr = pull --rebase
	br = branch
	bra = branch -a
	l = log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
	amend = commit -a --amend --no-edit
