SHELL.md
.vscode

.config/fish/completions
.config/fish/conf.d
.config/fish/functions
.config/fish/themes
.config/fish/fish_*
.config/cava/shaders
.config/tmux/plugins
.editorconfig

*~
.emacs.d/session.*
.emacs.d/#*#
