/* Import Matugen colors */
@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background-color: @primary;
    color: @background;
    border-radius: 10px;
}

#workspaces button.urgent {
    background-color: @alert;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @foreground;
    background-color: @secondary;
    border-radius: 10px;
    margin: 4px 2px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @primary;
    color: @background;
}

#battery {
    background-color: @primary;
    color: @background;
}

#battery.charging, #battery.plugged {
    color: @background;
    background-color: @secondary;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @alert;
    color: @background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-launcher {
    background-color: @primary;
    color: @background;
    padding: 0 15px;
    margin: 4px 4px 4px 4px;
    border-radius: 10px;
    font-size: 18px;
}

#custom-wlogout {
    background-color: @alert;
    color: @background;
    padding: 0 10px;
    margin: 4px 4px 4px 2px;
    border-radius: 10px;
}
