* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
}

window#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
  border-bottom: 2px solid #11111b;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  color: #a6adc8;
}

#workspaces button.active {
  color: #cba6f7;
  border-bottom: 2px solid #cba6f7;
}

#custom-menu,
#custom-connections,
#custom-logout {
  padding: 0 10px;
}

#cpu,
#memory,
#battery,
#clock,
#pulseaudio,
#tray {
  padding: 0 10px;
}

#custom-connections:hover,
#custom-menu:hover,
#custom-logout:hover {
  background: #313244;
  border-radius: 6px;
}
