* {
  background-image: none;
  font-size: 20px;
}

window {
  font-family: "Fira Sans Semibold", Arial, sans-serif;
  background-color: transparent;
}

button {
  color: #a6adc8;
  background-color: #11111b;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: #a6adc8;
  color: #ffffff;
}

button:hover {
  background-color: #f5c2e7;
  background-size: 17%;
  color: #ffffff;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#logout {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/logout.png"));
}

#suspend {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/suspend.png"));
}

#shutdown {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/reboot.png"));
}

#lock {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/lock.png"));
}

#hibernate {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/hibernate.png"));
}