@import "colors.css";

* {
  background-image: none;
}

window {
  background-color: rgba(17, 17, 27, 0.9);
}

button {
  color: @foreground;
  background-color: @secondary;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 10px;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus,
button:active,
button:hover {
  background-color: @primary;
  color: @background;
  outline-style: none;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
